{% extends "base/operator_dashboard.html" %}

{% block title %}Dashboard{% endblock %}

{% block content %}
    <h2>Welcome, {{ user.username }}</h2>

    <p>Enter the inspected vehicle registration plate:</p>


    <label>
        Vehicle Registration Plate<br>
        <input type="text" id="plate" required>
    </label><br><br>

    <button type="button" onclick="submit()">Check registration plate</button>
    <p id="error" style="color: red; font-weight: bold;"></p>
<p></p>

{% endblock %}

{% block scripts %}
    <script>
document.addEventListener("DOMContentLoaded", () => {
  const msg = sessionStorage.getItem("toast");

  if (msg) {
    const toast = document.getElementById("toast");
    toast.innerText = msg;
    toast.style.display = "block";

    setTimeout(() => {
      toast.style.display = "none";
      sessionStorage.removeItem("toast");
    }, 3000); // 3 seconds
  }
});

function submit() {
  const plate = document.getElementById("plate").value.trim().toUpperCase();
  const errorEl = document.getElementById("error");


 if (!plate) {
    errorEl.innerText = "Please fill in all fields.";
    return;
    }

  fetch("/operator/plate-check", {
    method: "POST",
    headers: {
      "Content-Type": "application/json"
    },
    body: JSON.stringify({
      plate: plate
    })
  })
  .then(async response => {
    const data = await response.json();


 if (!response.ok) {
      errorEl.innerText = data.message || "Query failed.";
      return;
      }
    errorEl.innerText = data.message
    })
.catch(err => {
    console.error(err);
    errorEl.innerText = "Server error. Please try again.";
  });
}

</script>
{% endblock %}