{% extends "base/dashboard.html" %}

{% block title %} Skopje Parking App{% endblock %}

{% block content %}
    <h2>Welcome</h2>

    <p>
        <label>Email:<br>
  <input type="email" id="email_address">
        </label><br><br>
        <button onclick="resend()">Resend link</button>
    </p>
{% endblock %}


{% block scripts %}
<script>
    function resend() {
        console.log("Resend Clicked");
        console.log(document.getElementById("email_address"));
        fetch ("/verification-resend",{
            method: "POST",
            headers: {
                "Content-Type": "application/json"
        },
        body: JSON.stringify({
            email: document.getElementById("email_address").value
            })
        })
        .then(res => res.json())
        .then(data => alert(data.message))
        .catch(err => console.error(err));
    }


document.addEventListener("DOMContentLoaded", () => {
  const msg = sessionStorage.getItem("toast");

  if (msg) {
    const toast = document.getElementById("toast");
    toast.innerText = msg;
    toast.style.display = "block";

    setTimeout(() => {
      toast.style.display = "none";
      sessionStorage.removeItem("toast");
    }, 3000); // 3 seconds
  }
});
</script>
{% endblock %}