{% extends "base/dashboard.html" %}

{% block title %} Skopje Parking App{% endblock %}

{% block content %}
    <h2>E-mail verification step</h2>



<p>
  A verification link has been sent to {{ email }}, please check your spam folder
</p>

<br> </br>
    <p>
        <label>if you didn't receive an email, click here:<br>
        </label><br>
        <button onclick="resend()">Resend link</button>
    </p>

{% endblock %}


{% block scripts %}
<script>
    console.log("SCRIPT RUNNING");

    function resend() {
        console.log("Resend Clicked");

        fetch("/verification-resend", {
            method: "POST"
        })
        .then(res => res.json())
        .then(data => {
            alert(data.message);
        })
        .catch(err => console.error(err));
}

const email = "{{ current_user.email_address | default('') }}";

document.addEventListener("DOMContentLoaded", () => {
  const el = document.getElementById("email-msg");

  if (email) {
    el.innerText = `A verification link has been sent to ${email}`;
  } else {
    el.innerText = "A verification link has been sent to your email";
  }
});

</script>
{% endblock %}